* {
  	box-sizing: border-box;
  	font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
  	font-size: 16px;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}
body {
  	background-color: #435165;
}

.login {
    border-radius: 15px;
  border: 2px solid #ffffff;
  	width: 250px;
  	background-color: #ffffff;
  	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  	margin: 10px auto;
  	
  	
  	
  	
}
.login2 {
    border-radius: 15px;
  border: 2px solid #ffffff;
  	width: 200px;
  	background-color: #ffffff;
  	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  	margin: 0px auto;
}
.login2 form label {
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    border-radius: 12px 0px 0px 12px;
  	border: 1px solid #D9E6D9;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	width: 50px;
  	height: 0px;
  	background-color: #BC49D6;
  	color: #ffffff;
}
.login2 h1 {
  	text-align: center;
  	color: #5b6574;
  	font-size: 24px;
  	padding: 20px 0 20px 0;
  	border-bottom: 1px solid #dee0e4;
}
.logi2 form {
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
  	padding-top: 0px;
  	border-radius: 25px;
}




.login3 {
    
  
  	width: 200px;
  	background-color: #ffffff;
  	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  	margin: 7px auto;
}
.login3 form label {
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    border-radius: 12px 0px 0px 12px;
  	border: 1px solid #D9E6D9;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	width: 50px;
  	height: 0px;
  	background-color: #BC49D6;
  	color: #ffffff;
}
.login3 h1 {
  	text-align: center;
  	color: #5b6574;
  	font-size: 24px;
  	padding: 20px 0 20px 0;
  	border-bottom: 1px solid #dee0e4;
}
.logi3 form {
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
  	padding-top: 0px;
  	border-radius: 25px;
}



.login h1 {
  	text-align: center;
  	color: #5b6574;
  	font-size: 24px;
  	padding: 20px 0 20px 0;
  	border-bottom: 1px solid #dee0e4;
  	

}

.login form {
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
  	padding-top: 20px;
  	border-radius: 25px;
  	
  	
  	
}

.login form label {
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    border-radius: 12px 12px 12px 12px;
  	border: 1px solid #D9E6D9;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	width: 50px;
  	height: 50px;
  	background-color: #BC49D6;
  	color: #ffffff;
  	
}

.login form input[type="password"], .login form input[type="text"] {
  	width: 210px;
  	border-radius: 12px 12px 12px 12px;
  	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  	height: 50px;
  	border: 1px solid #D9E6D9;
  	margin-bottom: 20px;
  	padding: 0 15px;
}
.login form input[type="submit"] {
  	width: 50%;
  	padding: 12px;
 	margin-top: 10px;
 	margin-bottom: 15px;
 	border-radius: 18px 18px 18px 18px;
  	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.5);
  	background-color: #BC49D6;
  	border: 0;
  	cursor: pointer;
  	font-weight: bold;
  	color: #ffffff;
  	transition: background-color 0.2s;
}
.login form input[type="submit"]:hover {
	background-color: #90469c;
  	transition: background-color 0.2s;
}